<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>i</key>
		<string>present_0</string>
		<key>p</key>
		<string>1钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_1</string>
		<key>p</key>
		<string>5钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_2</string>
		<key>p</key>
		<string>8钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_3</string>
		<key>p</key>
		<string>10钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_4</string>
		<key>p</key>
		<string>2888钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_5</string>
		<key>p</key>
		<string>50钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_6</string>
		<key>p</key>
		<string>60钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_7</string>
		<key>p</key>
		<string>80钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_8</string>
		<key>p</key>
		<string>2钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_9</string>
		<key>p</key>
		<string>6钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_10</string>
		<key>p</key>
		<string>8钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_11</string>
		<key>p</key>
		<string>12钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_12</string>
		<key>p</key>
		<string>120钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_13</string>
		<key>p</key>
		<string>660钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_14</string>
		<key>p</key>
		<string>888钻石</string>
	</dict>
	<dict>
		<key>i</key>
		<string>present_15</string>
		<key>p</key>
		<string>1314钻石</string>
	</dict>
</array>
</plist>
